.widget h3,
.btn:hover,
.abt-sec h3,
.abt-sec h3 a,
.banner h1 .clr,
.abt-sec .btn:hover,
.contact-sec #success,
.blog-detail .blog h3,
.socail-network a:hover,
.blog-sec .blog h3 a:hover,
.twocolumns .blog-post p a,
.twocolumns .blog-post h3 a,
.widget .category-list a:hover,
.abt-sec .personal-list a:hover,
.blog-sec .blog .read-more:hover,
.blog-sec .slick-dots button:hover,
.contact-sec .contact-list a:hover,
.portfolio-sec .filter-list a:hover,
.twocolumns .slick-dots button:hover,
.portfolio-sec .filter-list .active a,
.blog-detail .blog .video .icon:hover,
.blog-detail .blog .comment-nav a:hover,
.comments-form .comment-form .btn:hover,
.education-sec .edu-list li:hover .uni-name,
.comments-block .comment-area .txt-holder .reply,
.comments-block .comment-area .txt-holder h3 a:hover{
	color: #b09b21;
}
#nav,
.btn,
.service-sec,
.interest-sec,
.abt-sec .btn,
#back-top:hover,
.banner.banner2,
#header .nav-opener,
.banner .caption .txt,
.skill-sec .skill-col:hover,
.abt-sec .img-holder:before,
.contact-sec .contact-form .btn,
.price-sec .price-list .btn:hover,
.education-sec .edu-list li:hover .time,
.blog-sec .slick-dots .slick-active button,
.price-sec .price-holder .price-col.active .price-list .btn:hover{
	background: #b09b21;
}
.banner .caption .txt:before{
	border-top-color: #b09b21;
}
.blog-detail .blog .quote,
.comments-form .comment-form .form-control:focus{
	border-color: #b09b21;
}
.abt-sec.style2 .img-holder .caption{
	background: rgba(216, 191, 37, 0.5);
}